/*RESET CSS*/
*{
    margin: 0; /*Zera a Margem*/
    padding: 0; /*Zera o Preenchimento*/
    box-sizing: border-box; /*Todos os elementos dentro do box model sem estourar tela*/
    font-family: "Tilt Neon", sans-serif; /*Fonte do Google*/
}

/*FUNDO DA PÁGINA*/
body{
    background-color: var(--bg-primary); /*Cor  de Fundo da página*/
    max-width: 100vw; /*Largura máxima em toda a tela*/
    min-height: 100vh; /*Altura máxima em toda a tela*/
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha ao centro no eixo perpendicular*/
    justify-content: center; /*Alinha ao centro no eixo principal*/
}

/*CONTAINER DA PÁGINA*/
main section{
    border: 1px solid var(--border-color); /*Cor da Borda*/
    background-color: var(--bg-secondary); /*Cor secundária*/
    border-radius: 4px; /*Arredonda a borda*/
    height: 320px; /*Altura máxima de 320px*/
    width: 45vw; /*Largura máxima de 45% da tela*/
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinhamento em Colunas*/
    align-items: center; /*Alinha ao centro no eixo perpendicular*/
    justify-content: center; /*Alinha ao centro no eixo principal*/
}

/*TITULO DO CONTAINER*/
main section h1{
    margin-bottom: 32px; /*Margem abaixo de 32px*/
}

/*FORMULÁRIO*/
main section form{
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha ao centro no eixo perpendicular*/
}

/*INPUTS*/
main section form input{
    background-color: var(--bg-input); /*Cor de Fundo das Input*/
    color: var(--color-text); /*Cor do Texto*/
    text-align: center; /*Alinha o texto ao Centro*/
    width: 35vw; /*Largura de 35% da tela*/
    margin-top: 16px; /*Margem de 16px do topo*/
}

/*BOTÃO DE CALCULAR GUEMATRIA*/
#calcularBtn{
    border: none; /*Tira a borda*/
    background-color: var(--bg-button); /*Cor do fundo do botão*/
    color: var(--color-text); /*Cor do Texto do Botão*/
    margin-top: 32px; /*Margem de 32 px do Topo*/
    width: 200px; /*Largura de 200px*/
    height: 32px; /*Altura de 32px*/
    cursor: pointer; /*Mãozinha ao passar o mouse*/
}

/*EFEITO AO PASSAR O MOUSE*/
#calcularBtn:hover{
    animation: pulse 1.5s infinite ease-in-out; /*Botão Pulsante*/
}

/*ANIMAÇÃO*/
@keyframes pulse{
    0%{
        transform: scale(1); /*Zoom de 100% inicial*/
    }

    50%{
        transform: scale(1.03); /*Zoom de 103% ao meio*/
    }

    100%{
        transform: scale(1); /*Finaliza com o Zoom de 100$*/
    }
}
